// 21 lines, three parts [js,html,css]
class {
	onMount() {
		let x = 10
		if (x > 10) {
			// inline comment
			x = 12
		}
	}
}

div
	p -- paragraph
	ul -- list
		li -- list item

style.less {
	p { 
		color: black;
	}
}
